<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is about page</title>
</head>
<body>
<section>
    <div class="conatainer">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3">
                    <div class="container text-center">
                        <img style="width: 80px;" th:src="@{/img/register.png}" alt="">
                    </div>
                    <h1 class="text-center">Register here!!</h1>
                    <form action="" th:action="@{/do_register}" method="post">
                        <!-- name-field -->
                        <div class="form-group p-2">
                            <label for="name_field">Enter your name</label>
                            <input type="text" class="form-control" id="name_field" aria-describedby="emailHelp" placeholder="Enter here" required>
                        </div>
                        <!-- email-field -->
                        <div class="form-group p-2">
                            <label for="email_field">Enter your email</label>
                            <input type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter here" required>
                        </div>
                        <!-- password-field -->
                        <div class="form-group p-2">
                            <label for="password_field">Enter your password</label>
                            <input type="password" class="form-control" id="password_field" aria-describedby="emailHelp" placeholder="Enter here" required>
                        </div>
                        <!-- user about field  -->
                        <div class="form-group p-2" >
                            <textarea placeholder="Enter something about yourself" rows="8" class="form-control"></textarea>
                        </div>
                        <div class="container p-2 text-center">
                            <button type="submit" class="btn bg-primary text-white">Submit</button>
                            <button type="reset" class="btn btn-block btn-warning">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>